<h1><%= @house %></h1>
<h2><%= @members.size %> Order of the Phoenix Members</h2>

<section class="ootp-member">
  <% @members.each do |member| %>
    <p>Name: <%= member.name %></p>
    <% if member.role %>
      <p>Role: <%= member.role %></p>
      <% end %>
    <p>House: <%= member.house %></p>
    <% if member.patronus %>
      <p>Patronus: <%= member.patronus %></p>
    <% end %>
  <% end %>
</section>
